<div class="min-h-screen flex flex-col">
    <app-header (menuClicked)="handleMenuClick()" class="fixed top-0 w-full flex items-center justify-center h-14 z-10">
    </app-header>
    <div class="flex flex-1 mt-14">
        @if (isTabletOrMobile) {
        <p-sidebar [(visible)]="sidebarVisible" styleClass="w-64 fixed top-14">
            <ng-template pTemplate="headless">
                <app-nav-menu (messageEvent)="onMessageEvent($event)" class="h-full"></app-nav-menu>
            </ng-template>
        </p-sidebar>
        }
        @else {
        <app-nav-menu [isCollapsed]="isCollapsed" class="fixed top-14 left-0 w-64 h-full z-10">
        </app-nav-menu>
        }
        <main class="flex-1 bg-gray-100 p-4 overflow-auto transition-all duration-200 ease"
            [ngClass]="{'ml-0': isTabletOrMobile, 'ml-16': isCollapsed && !isTabletOrMobile,'ml-64': !isCollapsed && !isTabletOrMobile}">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>